.Container{
    display: flex;
    justify-content: space-between;
}
.Container__column--ul{
    display: flex;
    list-style: none;
}
.Container__column--li{
    margin-right: 20px ;
    font-size: 1.4rem;
    font-weight: 600;
    cursor: pointer;
}
.Container__column--li:hover{
    color: rgb(229, 91, 91);
}
a{
    text-decoration: none;
}